@import './global';
$color-glow: rgba(253,155,39,1);
$rotate-desktop: rotateY(40deg);
$rotate-mobile: rotateX(-20deg);
$anim-turn-length: 3s;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

#fire {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#cave {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-size: cover;
  background-position: center;
}

#john {
  position: absolute;
  right: 0; bottom: 0;
  width: 90%; max-width: 450px;
  cursor: pointer;
  img { width: 100%;
    &:nth-of-type(1) { opacity: 0; position: absolute; top: 0; left: 0;
      width: 100%; height: 100%; animation: turn1 $anim-turn-length steps(1); }
    &:nth-of-type(2) {
      animation: turn2 $anim-turn-length steps(1); } }
}

#vid {
  position: absolute;
  top: 20%; left: 2em;
  width: 33%;
  padding-bottom: 18.56%;
  perspective: 1000px;
  animation: fade-in 3s ease;
  iframe { width: 100%; height: 100%; background: black;
    position: absolute; top: 0; left: 0;
    transform: $rotate-desktop; }
  &:before { content: ""; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; background: $color-glow;
    box-shadow: 0px 0px 25px 10px $color-glow; opacity: 0;
    transform: $rotate-desktop;
    animation: glow 3s ease infinite alternate; }
}

body.loading {
  #cave, #fire, #john, #vid { display: none; }
}

@media screen and (max-width: 600px) {
  #vid {
    left: 10%; top: 2em;
    width: 66%;
    padding-bottom: 37.125%;
    iframe { transform: $rotate-mobile; }
    &:before { transform: $rotate-mobile; }
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes glow {
  to { box-shadow: 0px 0px 10px 2px $color-glow; }
}

@keyframes turn1 {
  0% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes turn2 {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
