@import './global';

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: black;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

#fire {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

#cave {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-size: cover;
  background-position: center;
}

#john {
  position: absolute;
  right: 0; bottom: 0;
  transform: scaleX(-1);
  width: 90%; max-width: 450px;
  img { width: 100%; }
}

#vid {
  position: absolute;
  top: 20%; left: 2em;
  height: auto;
  perspective: 1000px;
  iframe { width: 100%; height: auto; transform: rotateY(40deg);
    box-shadow: 0px 0px 10px 4px rgba(253,155,39,1); }
}
